@font-face {
    font-family: 'Akrobat';
    src: url('../font/Akrobat-SemiBold.eot');
    src: url('../font/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Akrobat-SemiBold.woff2') format('woff2'),
    url('../font/Akrobat-SemiBold.woff') format('woff'),
    url('../font/Akrobat-SemiBold.ttf') format('truetype'),
    url('../font/Akrobat-SemiBold.svg#Akrobat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akrobat';
    src: url('../font/Akrobat-Regular.eot');
    src: url('../font/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Akrobat-Regular.woff2') format('woff2'),
    url('../font/Akrobat-Regular.woff') format('woff'),
    url('../font/Akrobat-Regular.ttf') format('truetype'),
    url('../font/Akrobat-Regular.svg#Akrobat-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../font/HelveticaNeueCyr-Roman.eot');
    src: url('../font/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../font/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../font/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../font/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../font/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../font/Akrobat-Bold.eot');
    src: url('../font/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Akrobat-Bold.woff2') format('woff2'),
    url('../font/Akrobat-Bold.woff') format('woff'),
    url('../font/Akrobat-Bold.ttf') format('truetype'),
    url('../font/Akrobat-Bold.svg#Akrobat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

