*{
    margin: 0;
    padding: 0;
}
header{
    padding: 4px 0 8px;
}
header .header{
    max-width: 612px;
}
header .header_p {
    font-size: 14px;
    color: #8A8B90;
    max-width: 211px;
    font-family: Helvetica;
}
@media (max-width: 991px) {
    header .header_p {
       margin-bottom: 0;
    }
}
header .bottom{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 34px 9px 25px;
    border: 1px solid #8A8B901A;
    font-family: Akrobat;
    font-weight: bold;
}
@media (max-width: 767px) {
    header .bottom{
        font-size: 14px;
        padding: 9px 9px;
    }
}
header .bottom i{
    margin-right: 44px;
}
@media (max-width: 497px) {
    header .bottom i{
        margin-right: 0;
    }
}
header .bottom:hover{
    color: black;
    text-decoration: none;
}
header .icon a{
    text-decoration: none;
    margin-left: 13px;
}
header .icon i{
    font-size: 16px;
}
@media (max-width: 991px) {
    header .icon{
        display: none;
    }
}
.bg-light {
    padding: 0!important;
    margin: 0!important;
    background:none!important;
}
.list{
    background-color: #f3f3f3;
    padding: 22px 0;
    margin-bottom: 68px;
    position: sticky;
    top: 0;
    z-index: 50;
}
@media (max-width: 991px) {
    .list{
        padding: 9px 0;
    }
}
.navbar-light .navbar-nav .active > .nav-link{
    line-height: 0;
    color: #5A5858;
    font-size: 14px;
    font-weight: bold;
    font-family: Akrobat;
}
@media (max-width: 991px) {
    .navbar-light .navbar-nav .active > .nav-link{
        line-height: normal;
    }
}
.text-center{
    position: relative;
}
.head_list:after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #8A8B90;
    position: absolute;
    right: 0;
    bottom: 0;
}
@media (max-width: 991px) {
    .text-center:after{
        display: none;
    }
}
.navbar-light .navbar-toggler{
    background-color: #FFC904;
    border-radius: 0;
    margin-left: 20px;
}
.screen_one{
    margin-bottom: 50px;
}

.screen_one:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 17px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_one:after{
        max-width: 300px;
        margin-top: 35px;
    }
}
.screen_one h5{
    font-size: 14px;
    color: #2B2B2B;
    font-weight: bold;
    margin-bottom: 39px;
    font-family: Akrobat;
    font-weight: bold;
}
@media (max-width: 414px) {
    .screen_one h5{
       margin-bottom: 160px;
    }
}
.screen_one h5:before{
    display: inline-block;
    content: "";
    width: 2px;
    height: 14px;
    background-color: #FFC904;
    margin-right: 11px;
}
.screen_one h2{
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 14px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
}
@media (max-width: 414px) {
    .screen_one h2{
        font-size: 16px;
       position: absolute;
        top: -522px;
    }
}
.screen_one h3{
    color: #FFC904;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: Akrobat;
    font-weight: bold;
}

@media (max-width: 414px) {
    .screen_one h3{
        font-size: 14px;
       position: absolute;
        top: -480px;
    }

}
form{
    position: relative;
    max-width: 474px;
    width: 100%;
    padding: 32px 23px 20px 31px;
    background-color: #8A8B901A;
    border: 1px solid #00000033
}
form h4{
    font-size: 18px;
    font-weight: bold;
    color: black;
    line-height: normal;
    margin-bottom: 15px;
    font-family: Akrobat;
    font-weight: bold;
    max-width: 390px;
}
form p{
    font-size: 16px;
    font-weight: 600;
    font-family: Akrobat;
    margin-bottom: 21px;
}
form span{
    color: red;
}
form label{
    display: block;
    font-size: 14px;
    color: #5A5858;
    margin-bottom: 6px;
    font-family: HelveticaNeueCyr;
}
form input{
    padding: 16px 19px 14px;
    font-size: 14px;
    max-width: 397px;
    width: 100%;
    margin-bottom: 10px;
    color: #5A5858;
    border: 1px solid #8A8B90;
    border-radius: 0;
}
form input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
form button{
    font-size: 24px;
    padding: 8px 71px;
    background-color: #FFC904;
    border: none;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 10px;
}
form h5{
    font-size: 20px;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 1px;
}
form h6{
    font-size: 8px;
    color: black;
    font-family: Akrobat;
    font-weight: 600;
}
form img{
    position: absolute;
    bottom: -105px;
    right: -105px;
    width: 65%!important;
    filter: alpha(Opacity=75); /* Полупрозрачность для IE */
    opacity: 0.75; /* Полупрозрачность для других браузеров */
}
@media (max-width: 1024px) {
    form img{
      display: none;
    }
}
.tel{
    margin-bottom: 13px;
}
.screen_one img{
    max-width: 394px;
    width: 100%;
    margin-bottom: 16px;
}

@media (max-width: 535px) {
    .screen_one img{
        max-width: 199px;
        width: 100%;
    }

}
.right .artroset{
    font-size: 18px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 35px;
}
@media (max-width: 540px) {
    .right .artroset{
        font-size: 12px;
        margin-bottom: 29px;
    }
}
.right p:nth-child(3){
    font-size: 14px;
}
.right span{
    color: red;
}
.screen_one .img_p{
    font-size: 14px;
    font-weight: 600;
    font-family: Akrobat;
}
.screen_two{
    margin-bottom: 49px;
}
.screen_two p{
    font-size: 18px;
    font-family: Akrobat;
    font-weight: 600;
    margin-bottom: 25px;
}
@media (max-width: 414px) {
    .screen_two p{
        font-size: 12px;
    }
}
.screen_two h4{
    color: #2B2B2B;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: bold;
    font-family: Akrobat;
}
.screen_two h4:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 16px;
}
.screen_two:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 17px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_two:after{
        max-width:300px;
        margin-top: 45px;
    }
}
@media (max-width: 991px) {
    .screen_two video{
        width: 100%;
        margin-bottom: 20px;
    }
}
.screen_three{
    margin-bottom: 94px;
}
@media (max-width: 540px) {
    .screen_three{
        margin-bottom: 31px;
    }
}
.screen_three:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 97px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 540px) {
    .screen_three:after{
        max-width: 300px;
        margin-top: 37px;
    }
}
.screen_three h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Akrobat;
    margin-bottom: 43px;
    color: #2B2B2B;
}
.screen_three h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_three h4{
    font-size: 20px;
    font-weight: bold;
    font-family: Akrobat;
    color: #5A5858;
    margin-bottom: 29px;
}
.screen_three ul{
    padding: 8px 27px;
    background-color: #FFC904;
    max-width: 295px;
    width: 100%;
    margin-bottom: 50px;
}
.screen_three li{
    font-size: 18px;
    color: black;
    font-family: Akrobat;
    font-weight: 600;
}
.screen_three p{
    font-size: 18px;
    color: black;
    font-family: Akrobat;
    font-weight: 600;
}
.screen_three img{
    max-width: 489px;
    width: 100%;
}
.screen_four{
    margin-bottom: 62px;
}
@media (max-width: 540px) {
    .screen_four{
        margin-bottom: 34px;
    }
}
.screen_four:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 154px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_four:after{
        max-width: 300px;
        margin-top: 28px;
    }
}
.screen_four h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 30px;
}
.screen_four h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_four h3{
    font-size: 20px;
    color: #5A5858;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 93px;
}
.screen_four h4{
    font-size: 24px;
    color: black;
    margin-bottom: 50px;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_four h4:before{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FFC904;
    margin-bottom: 62px;
}
@media (max-width: 540px) {
    .screen_four h4:before{
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #FFC904;
        margin-bottom: 33px;
        margin-top: 61px;
    }
}
.screen_four p{
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
    font-family: Akrobat;
    font-weight: 300;
}
@media (max-width: 540px) {
    .screen_four p{
        font-size: 14px;
        color: black;
        margin-bottom: 30px;
        font-family: Akrobat;
        font-weight: 300;
    }
}
.screen_four span{
    font-weight: bold;
}
@media (max-width: 540px) {
    .screen_four span{
        font-size: 20px;
    }
}
.screen_four a{
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-family: Akrobat;
    font-weight: bold;
    padding: 8px 23px;
    background-color: #FFC904;
}
.screen_four .owl-nav {
    position: absolute;
    top: 165px;
    width: 100%;
}

.screen_four .owl-nav .owl-prev {
    position: absolute;
    left: -67px;
}

@media (max-width: 1024px) {
    .screen_four .owl-nav .owl-prev {
        left: 0;
    }
}
.screen_four .owl-nav .owl-prev:before {
    content: "\f060";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: black;
    background-color: #FFC904;
    padding: 13px 18px;
}


.screen_four .owl-nav .owl-next {
    position: absolute;
    right: -66px;
}
@media (max-width: 1024px) {
    .screen_four .owl-nav .owl-next {
        right: 0;
    }
}
.screen_four .owl-nav .owl-next:before {
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: black;
    background-color: #FFC904;
    padding: 13px 18px;
}
.screen_four .owl-dots{
    display: none;
}
.screen_five{
    margin-bottom: 41px;
}
.screen_five:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 82px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_five:after{
        max-width: 300px;
        margin-top: 32px;
    }
}
.screen_five h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 43px;
}
.screen_five h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_five h3{
    font-size: 18px;
    color: #5A5858;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 9px;
}
@media (max-width: 991px) {
    .screen_five h3{
        margin-bottom: 30px;
    }
}
.screen_five .list_two{
    padding: 10px 8px;
    background-color: #FFC904;
    max-width: 295px;
    width: 100%;
    margin-bottom: 29px;
}
.screen_five .list_two h4{
    font-size: 18px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_five ul{
    padding-left: 23px;
}
.screen_five li{
    font-size: 16px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_five p{
    font-size: 16px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
    max-width: 501px;
}
.screen_five img{
    max-width: 584px;
    width: 100%;
}
.screen_six{
    margin-bottom: 77px;
}
.screen_six:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 229px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_six:after{
        max-width: 300px;
        margin-top: 54px;
    }
}
.screen_six h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 30px;
}
.screen_six h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_six img{
    max-width: 330px;
    width: 100%;
}
.screen_six .list_three{
    padding: 13px 39px;
    background-color: #FFC904;
    max-width: 522px;
    width: 100%;
    margin-bottom: 44px;
}
.screen_six h4{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_six ul{
    padding-left: 31px;
}
.screen_six li{
    font-size: 20px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_six p{
    font-size: 18px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 19px;
}
@media (max-width: 540px) {
    .screen_six p{
        font-size: 14px;
    }
}
.screen_six .left h5{
    font-size: 14px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
}
@media (max-width: 991px) {
    .screen_six .left h5{
        margin-bottom: 30px;
    }
}
.screen_six .left h5 span{
    color: red;
}
.screen_seven{
    margin-bottom: 109px;
}
.screen_seven:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 195px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_seven:after{
        margin-top: 52px;
        max-width: 300px;
    }
}
.screen_seven h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 40px;
}
.screen_seven h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_seven ul{
    position: relative;
    padding: 13px 15px;
    background-color: #FFC904;
}
.screen_seven li{
    list-style: none;
    font-size: 18px;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 20px;
}
.screen_seven li:nth-child(5){
    margin-bottom: 0;
}
.screen_seven p{
    font-size: 18px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    padding-left: 44px;
    margin-bottom: 23px;
}
@media (max-width: 540px) {
    .screen_seven p{
       padding-left: 0;
    }
}
.screen_seven .sertivilat img{
    position: absolute;
    top: -60px;
    right: 0;
}
@media (max-width: 1199px) {
    .screen_seven .sertivilat img{
        position: absolute;
        top: 10px;
        right: 0;
    }
}
@media (max-width: 991px) {
    .screen_seven .sertivilat img{
        position: relative;
        margin-bottom: 30px;
    }
}
.screen_seven a{
    padding: 8px 5px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
    background-color: #FFC904;
    margin-left: 44px;
}
@media (max-width: 540px) {
    .screen_seven a{
        margin-left: 0;
    }
}
.screen_seven img{
    max-width: 468px;
    width: 100%;
}
.screen_eight{
    margin-bottom: 88px;
}
.screen_eight:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 108px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_eight:after{
        max-width: 300px;
        margin-top: 61px;
    }
}
.screen_eight h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 52px;
}
.screen_eight h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_eight h3{
    font-size: 20px;
    color: #5A5858;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 42px;
}
.screen_eight .screen_eight_carousel:after, .screen_eight .screen_eight_carousel:before{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FFC904;
}
.screen_eight .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
}
.screen_eight .owl-carousel .owl-item img{
    max-width: 150px;
}
.screen_eight .owl-nav {
    position: absolute;
    top: 50px;
    width: 100%;
}

.screen_eight .owl-nav .owl-prev {
    position: absolute;
    left: -67px;
}
@media (max-width: 1024px) {
    .screen_eight .owl-nav .owl-prev {
        left: 0;
    }
}
.screen_eight .owl-nav .owl-prev:before {
    content: "\f060";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: black;
    background-color: #FFC904;
    padding: 13px 18px;
}

.screen_eight .owl-nav .owl-next {
    position: absolute;
    right: -66px;
}
@media (max-width: 1024px) {
    .screen_eight .owl-nav .owl-next {
        right: 0;
    }
}

.screen_eight .owl-nav .owl-next:before {
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: black;
    background-color: #FFC904;
    padding: 13px 18px;
}
.screen_eight .owl-dots{
    display: none;
}
.screen_nine{
    margin-bottom: 83px;
}
.screen_nine:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 108px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_nine:after{
        max-width: 300px;
        background-color: #8A8B90;
        margin-top: 41px;
        margin-right: auto;
        margin-left: auto;
    }
}
.screen_nine h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 40px;
}
.screen_nine h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_nine h3{
    font-size: 20px;
    color: #5A5858;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 0;
}
.screen_nine p{
    font-size: 18px;
    color: black;
    margin-bottom: 28px;
    font-family: Akrobat;
    font-weight: normal;
}
.screen_nine span{
    font-weight: bold;
}
.screen_nine p:nth-child(1):before{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #FFC904;
    margin-bottom: 42px;
}
@media (max-width: 767px) {
    .screen_nine p:nth-child(1):before{
     display: none;
    }
    .screen_nine h4:before{
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #FFC904;
        margin-bottom: 40px;
    }
}
.screen_nine h4{
    font-size: 18px;
    color: black;
    margin-bottom: 28px;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_nine ul{
    margin-bottom: 37px;
}
.screen_nine li {
    list-style: none;
    font-size: 18px;
    color: black;
    font-family: Akrobat;
    font-weight: normal;
}
.screen_nine a{
    color: black;
    font-size: 24px;
    font-family: Akrobat;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 5px;
    background-color: #FFC904;
}
.screen_nine img{
    max-width: 494px;
    width: 100%;
}
.screen_ten{
    margin-bottom: 60px;
}
.screen_ten:after{
    display: block;
    content: "";
    height: 1px;
    max-width: 1185px;
    background-color: #8A8B90;
    margin-top: 229px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 540px) {
    .screen_ten:after{
        max-width: 300px;
        margin-top: 54px;
    }
}
.screen_ten h2{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 55px;
}
.screen_ten h2:before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 2px;
    background-color: #FFC904;
    margin-right: 15px;
}
.screen_ten img{
    max-width: 330px;
    width: 100%;
}
.screen_ten .list_three{
    padding: 13px 39px;
    background-color: #FFC904;
    max-width: 522px;
    width: 100%;
    margin-bottom: 44px;
}
.screen_ten h4{
    font-size: 24px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_ten ul{
    padding-left: 31px;
}
.screen_ten li{
    font-size: 20px;
    color: black;
    font-family: Akrobat;
    font-weight: bold;
}
.screen_ten p{
    font-size: 18px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
    margin-bottom: 19px;
}
@media (max-width: 540px) {
    .screen_ten p{
        font-size: 14px;
    }
}
.screen_ten .left h5{
    font-size: 14px;
    color: #2B2B2B;
    font-family: Akrobat;
    font-weight: bold;
}
@media (max-width: 991px) {
    .screen_ten .left h5{
       margin-bottom: 30px;
    }
}
.screen_ten .left h5 span{
    color: red;
}
footer{
    padding: 10px 0;
}
footer p{
    font-size: 14px;
    color: #8A8B90;
    font-family: Helvetica;
    margin-bottom: 16px;
}
footer .logo{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Akrobat;
    padding: 9px 34px 9px 25px;
    text-decoration: none;
    border: 1px solid #8A8B901A;
}
footer a:hover{
    color: black;
    text-decoration: none;
}
footer i{
    margin-right: 44px;
}
footer h4{
    font-size: 14px;
    color: black;
    font-family: Helvetica;
}